.pokemon {
    padding: 50px;
    background-color: rgb(250, 208, 152);
    width: 235px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokemonName {
    text-decoration: none;
    color: rgb(135, 77, 1);
}

.pokemonName:hover {
    color: rgb(255, 145, 0);
}

.principalPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.pokemonList {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.title {
    color: rgb(250, 173, 73);
}